*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: Inter, sans-serif;
}

body{
  background: #f8fafc;
  overflow-x: hidden;
}

#root{
  width: 100%;
  min-height: 100vh;
}

button{
  font-family: inherit;
}

input{
  font-family: inherit;
}